.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-column {
    display: flex;
    gap: 300px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  }
  
  .form-item {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }